.headpart
{
   background-color: rgb(182, 255, 250)
}
.aboutme{
   background-color: rgb(152, 228, 255);
}
.sruj
{
 border-radius: 50%;
}
.love{
  border-radius: 50%; 
}
.brokiss
{
   background-color: rgb(128, 179, 255);
}
.charming
{
 display: inline-block;

}
